@use 'src/styles/vars';

.recipe {
  display: flex;
  flex-direction: row;
  padding: 50px 250px;

  &__block {
    margin: 30px;
    width: 50%;
  }

  &__img {
    width: 500px;
    height: 500px;
    border-radius: 25px;
    margin-bottom: 20px;
  }
}
