@use 'reset';
@use 'vars';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* html, body, #root, .app {
  background-color: vars.$color-sand;
} */

html, body, #root, .app {
  background-color: #fbf6ed;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2300382a' fill-opacity='0.13' fill-rule='evenodd'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3Ccircle cx='11' cy='11' r='1'/%3E%3C/g%3E%3C/svg%3E");
}

.app {
  display: flex;
  flex-direction: column;
}
