@use 'reset';
@use 'vars';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #root, .app {
  background-color: vars.$color-sand;
}

.app {
  display: flex;
  flex-direction: column;
}
