@use 'src/styles/vars';

.app {
  margin: 0 auto;
  font-family: vars.$font-text;
  line-height: 1.6rem;
  color: vars.$color-primary;
}

.app h1 {
  line-height: 1.5;
  font-family: vars.$font-title;
  font-size: 3rem;
}

.app h2 {
  line-height: 3.5rem;
  font-family: vars.$font-title;
  font-size: 2.5rem;
}

.app h3 {
  font-family: vars.$font-title;
  font-size: 1.5rem;
}

.app h4 {
  font-size: 1.4rem;
  font-style: italic;
}

h1, h2, button {
  text-align: center;
}

.app p, .app label {
  font-size: 1.2rem;
}

.app input, .app select {
  border-radius: 1.3rem;
  border: 2px solid vars.$color-primary;
  background-color: vars.$color-sand;
  padding: 0.5rem;
  padding-left: 1rem;
  text-align: left;
}

.app input::placeholder, .app textarea::placeholder {
  color: #00382a91;
}

.app button, .button__style {
  background-color: vars.$color-primary;
  padding: 0.75rem 1.25rem;
  color: vars.$color-sand;
  text-transform: uppercase;
  border-radius: 3rem;
  font-weight: 700;
}

.app label {
  color: #000;
}
