@use 'src/styles/vars';

.app {
  margin: 0 auto;
  font-family: vars.$font-text;
  line-height: 1.6rem;
  color: vars.$color-primary;
}

h1 {
  line-height: 1.5;
  font-family: vars.$font-title;
  font-size: 3rem;
}

h2 {
  line-height: 3.5rem;
  font-family: vars.$font-title;
  font-size: 2.5rem;
}

h3 {
  font-family: vars.$font-title;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
  font-style: italic;
}

h1, h2, button {
  text-align: center;
}

p, label {
  font-size: 1.1rem;
}

input, select, input[type=number] {
  border-radius: 1.3rem;
  border: 2px solid vars.$color-primary;
  background-color: vars.$color-sand;
  padding: 0.5rem;
  padding-left: 1rem;
  text-align: left;
}

input::placeholder, textarea::placeholder {
  color: #00382a91;
}

.button__style, button, input[type=button] {
  background-color: vars.$color-primary;
  border: 2px solid vars.$color-primary;
  padding: 0.75rem 1.25rem;
  color: vars.$color-sand;
  text-transform: uppercase;
  border-radius: 3rem;
  font-weight: 700;
  font-size: 0.9rem;
  transition: 0.2s;
}

.link__style {
  transition: 0.2s;
}

.link__style:hover {
  opacity: 0.8;
}

button:hover, .button__style:hover, input[type=button]:hover {
  border: 2px solid vars.$color-primary;
  background-color: vars.$color-sand;
  color: vars.$color-primary;
}

label {
  color: #000;
}
