@use 'src/styles/vars';

.recipe {
  &__instructions {
    &__title {
      font-size: 1.875rem;
      padding: 0px 25px;
      margin-bottom: 15px;
    }

    &__steps {
      color: vars.$color-primary;
      background-color: vars.$color-secondary;
      border-radius: 25px;
      padding: 15px 25px;
    }

    &__step {
      padding: 5px 0px;
      font-size: 0.9rem;
      display: flex;
      flex-direction: row;

      &__nb {
        font-weight: 700;
        margin-right: 10px;
      }
    }
  }
}
