.app {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.app img {
  max-width: 150px;
}

.home__presentation {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem;

  &__elem {
    padding: 0.5rem;
    width: 50%;
  }
}
