@use 'src/styles/vars';

.home__presentation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  max-height: 450px;
  position: relative;
  background: vars.$color-secondary;

  &__elem {
    width: 40%;
    padding: 0.5rem;
  }

  &__text {
    text-align: left;
  }

  &__text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__text p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  &__img {
    text-align: right;
    width: 350px;
  }

}

.home__presentation > svg {
  display: block;
  position: absolute;
  bottom: -175px;
}
