@use 'src/styles/vars';

.home__presentation {
  width: 100%;
  background: vars.$color-secondary;
}

.home__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  &__elem {
    padding: 0.5rem;

    &--button {
      background-color: vars.$color-primary;
      color: vars.$color-secondary;
      border-radius: 1.3rem;
      padding: 0.6rem 0.8rem;
      font-weight: 700;
    }
  }

  &__text {
    text-align: center;
  }

  &__text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__text p {
    margin-bottom: 1.5rem;
  }

  &__img {
    text-align: right;
    width: 300px;
  }

}


@media only screen and (min-width: 768px) {

.home__container__img {
  width: 350px;
}

}


@media only screen and (min-width: 1024px) {

.home__container {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__elem {
    width: 40%;
  }

  &__text {
    text-align: left;
  }

  &__img {
    width: 380px;
  }

}

}
