@use 'src/styles/vars';

.navbar {
  background-color: vars.$color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: fixed;
  z-index: 99;
  width: 75px;
  box-shadow: 0 8px 32px 0 #00382a52;
  border-bottom-right-radius: 1.3rem;
  border-top-right-radius: 1.3rem;

  &__link__home__icon, &__toggle__home__icon, &__link__about__icon, &__link__contact__icon {
    width: 3rem;
  }
}

.navbar--extended {
  width: 20%;
}

@media only screen and (min-width: 768px) {



}

@media only screen and (min-width: 1024px) {

.navbar {
  display: none;
}


}
